apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: moneta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: moneta-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8880
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: moneta
spec:
  selector:
    app: backend
  ports:
  - port: 8880
    targetPort: 8880